.wrapper{
  display: flex;
  flex-flow:row wrap;
  text-align: center;
}

.wrapper> *{
  padding: 10px;
  margin: 10px;
  flex: 1 100%;
  border-radius: 10px;
}

.header{
  background: rgb(233, 51, 19);
  height: 120px;
}

.footer{
  background: rgb(149, 218, 23);
  height: 80px;
}
.main{
  text-align: left;
  background: rgb(125, 213, 243);
  height: 280px;
  font-size: 24px;
}

.aside1{
  background: rgb(221, 204, 105);
}

.aside2{
  background: pink;
}


@media all and(min-width: 800px){
  .main{
    flex:3;
  }

  .aside1{
    order: 1;
  }

  .aside2{
    order: 2;
  }

  .main{
    order:2;
  }

  .footer{
    order: 4;
  }
}

@media all and (min-width:600px){
  .aside{
    flex: 1;
  }
}